link(rel="stylesheet", href="/stylesheets/confirm.css")

h2 Order Confirmation

table
  tbody
    tr
      td Subtotal
      td #{subtotal}
    tr
      td Tip
      td #{tip}
    tr
      td Tax
      td #{tax}
    tr
      td Total
      td.total #{total}

form(method="POST")
  label(for="pin") Your Dwolla Pin
  input(type="password", name="pin")
  br
  input.btn.btn-success(type="submit", value="Pay")
