.center{
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
/* form styling */
.close-popup-box {
  position: relative;
  top: -18px;
  left: 98%;
  height: 57px;
  width: 56px;
  float: left;
}
.popup-box-container{
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -khtml-border-radius: 10px;
  background: #F9F8ED;
  margin: 5% auto;
  padding: 0 10px 0;
  width: 410px;
  box-shadow: 3px 3px 15px 0 #222222;
  -moz-box-shadow: 3px 3px 15px 0 #222222;
  -webkit-box-shadow: 3px 3px 15px 0 #222222;
}
.dialog{
  z-index: 1050;
  position: fixed;
  background-color: white;
  max-height: 710px;
  padding-left: 10px;
  width: 690px;
  top: 50%;
  left: 50%;
  margin-left: -345px;
  margin-top: -225px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.closeDialog{
  position: absolute;
  top: 0;
  left: 0;
  clip: rect(0 56px 57px 0);
}
.closeDialog:hover {
  clip: rect(57px 56px 114px 0);
  top: -57px;
  cursor: pointer;
}
.popup-container{
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 2006;
}
.fade-to-gray, .fade-to-white {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  z-index: 2005;
}
.fade-to-gray {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
  background: black;
}
.buttonRed {
  background: #C81E1E;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -khtml-border-radius: 8px;
  padding: 5px 5px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #914137;
  background: -webkit-gradient(linear, left top, left bottom, from(#DC372D), to(#A5281E) );
  background: -moz-linear-gradient(-90deg, #DC372D, #A5281E);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#DC372D', endColorstr='#A5281E');
  color: #FFFFFF;
}
/**
 Ordr.in colors:
- Red: #d2142e, #ce1726;
- Orange: #ff4038
- Blue: #8ed4ce;
- Salmon: #ff6762;
**/
body {
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-family: "Arial Black", Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding-bottom: 20px;
    padding-top: 30px;
}
 address {
    border: 5px solid #d2142e;
    padding: 15px;
    font-size: 20px;
    margin-bottom: 20px;
    width: 610px;
}
ul{
  list-style-type: none;
  padding-left: 0;
}
body{
  font-weight: normal;
  font-family: "Helvetica";
  font-size: 15px;
  padding-left: 10px;
}
.header{
  font-weight: bold;
  font-size: 18px;
}
.hidden{
  display: none;
}
.price{
  padding-right: 5px;
}
.clear{
  clear: both;
}
.optionCategory{
  padding-top: 5px;
  padding-bottom: 5px;
}
.option{
  width: 210px;
  float: left;
  padding-left: 10px;
}
/* photos */
/* Menu */
/*=== the div that shows the info of the restaurant you selected on the menu page ===*/
/*======menu styles======*/
/* menu header*/
.menu-hd {
  border-bottom: 1px solid #e6e6dc;
  padding-bottom: 8px;
}
.menu-hd p:first-child, .header {
  font-weight: bold;
  font-size: 16px;
  color: #d2142e;
  padding-bottom: 5px;
}
/* menu items */
.menu {
  margin-bottom: 6px;
  overflow: hidden;
}
.menu li p {
  margin: 0;
}
.menu li p:first-child {
  width: 78%;
}
.menu li {
  font-size: 12px;
  padding: 8px 0;
  border-bottom: 1px solid #e6e6dc;
  display: inline-block;
  width: 47%;
  overflow: hidden;
  position: relative;
  height: 14px;
}
.menu li:nth-of-type(2n + 1){
  margin-right: 16px;
}
.menu>li:first-child + li + li {
  margin-right: 16px;
}
.mi > ul {
  display:none;
}
.mi{
  display: block;
}
.menu li:hover {
  cursor: pointer;
  background: #f9f8ed;
}
.menu li .price {
  text-align: right;
  width: 22%;
  color: #55544b;
  position: absolute;
  bottom: 8px;
  right: 0;
}
/*popup menu item*/
.mItem-add-to-tray {
  font-size: 12px;
}
/* popup menu : heading of the menu item pop-up */
.mItem-add-to-tray .boxright {
  border-bottom: 1px dashed #a7a69b;
  padding-right: 10px;
}
.mItem-add-to-tray h1 {
  font-weight: bold;
  font-size: 18px;
  color: #d2142e;
  float: left;
  width: 70%;
  padding: 0;
  margin: 0;
}
.mItem-add-to-tray .menu-hd .boxright .slim-col {
  font-size: 18px;
  text-align: right;
}
.mItem-add-to-tray .desc {
  padding-top: 5px;
}
.mItem-add-to-tray .menu-hd {
  border: none;
  margin-bottom: 15px;
}
.menuList{
  width: 80%;
  float: left;
}
/* new stuff */
#menuList{
  width: 66%;
  float: left;
}
ul.menu{
  font-family: Arial, sans-serif;
}
.itemName{
  float: left;
}
input.optionCheck{
  float: left;
  margin-right: 5px;
}
.sidebar{
  margin-left: 10px;
  float: right;
  width: 30%;
}
#trayList{
  margin-left: 0;
}
#trayList .price{
  margin-left: 10px;
}
