body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container{
  margin-top: 20px;
}

a {
  color: #00B7FF;
}
.header a{
  color: gray;
}

.header{
  margin-bottom: 20px;
}

.hidden{
  display: none;
}
